<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12 staff-avatar">
            <h1 class="m-n font-thin h3 text-black"></h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="col-sm-12 col-xs-12">
              <h1 class="m-n font-thin h3 text-black" style="text-align:center">
                <span style="color: #ff6600;">CÁC LOẠI HÌNH</span>
                <span style="color: #3366ff;">DỊCH VỤ TẠI KÝ TÚC XÁ</span>
              </h1>
              <div class="wrapper">
                <h4>
                  Ký túc xá tạo điều kiện thuận lợi nhất để phục vụ nhu cầu đa dạng, phong phú của sinh viên với tiêu chí: “An toàn – Giá cả
                  hợp lý – Phục vụ tận tình”. Hiện nay tại Ký túc xá có các dịch vụ sau:
                </h4>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="fa fa-coffee"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Điểm tâm
                    </h4>
                    <ul>
                      <li>
                        <span class="span-text">Tầng 1 khu A</span>
                      </li>
                      <li>
                        <span class="span-text">Tầng 1 khu U</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="fa fa-cutlery"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Nhà ăn
                    </h4>
                    <img src="/assets/img/NhaAn.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Tầng 2 khu A</span>
                      </li>
                      <li>
                        <span class="span-text">Tầng 2 khu U</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="icon-book-open"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Dạy tiếng Anh
                    </h4>
                    <img src="/assets/img/DichVuEnglish.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Tầng 3 khu A</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="fa fa-shopping-cart"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Siêu thị mini tiện lợi
                    </h4>
                    <img src="/assets/img/SieuThiMini.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Tầng M khu A</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="fa fa-automobile"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Đào tạo lái xe môtô
                    </h4>
                    <img src="/assets/img/Daotaolaixe.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Liên hệ văn phòng ký túc xá</span>
                      </li>
                      <li>
                        <span class="span-text">Liên hệ anh Trung: 01284616288</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="glyphicon glyphicon-map-marker"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Wifi
                    </h4>
                    <img src="/assets/img/WiFi.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Phòng bảo trì tại tầng M khu A</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="fa fa-bitbucket"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Giặt ủi
                    </h4>
                    <img src="/assets/img/Giatui.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Tầng M khu U</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="fa fa-scissors"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Hớt tóc
                    </h4>
                    <img src="/assets/img/Hottoc.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Tầng M khu U</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="icon-handbag"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Ký gởi tài sản
                    </h4>
                    <img src="/assets/img/KyGoiTaiSan.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Liên hệ đội An ninh trật tự Ký túc xá</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="icon-printer"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Photocopy
                    </h4>
                    <img src="/assets/img/Photocopy-1.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Tầng M khu A</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                  <a class="pull-left thumb-sm avatar m-l-n-md">
                    <p class="fa fa-steam-square"></p>
                  </a>
                  <div class="m-l-lg m-b-lg">
                    <h4 class="ul-title ">
                      Thể hình
                    </h4>
                    <img src="/assets/img/Thehinh.jpg" alt="" width="600" height="300">
                    <ul>
                      <li>
                        <span class="span-text">Tầng 2 khu A</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="phan">
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                      <p class="glyphicon glyphicon-hand-right"></p>
                    </a>
                    <div class="m-l-lg m-b-lg">
                      <p class="span-text">Và còn rất nhiều dịch vụ tiện ích khác đi kèm đáp ứng nhu cầu ăn, ở, học tập và sinh hoạt của các bạn sinh viên…</p>
                      <p class="span-text">Ngoài ra chúng tôi luôn sẵn sàng hợp tác với các đối tác dịch vụ bên ngoài, nhằm đa dạng hóa mô hình dịch vụ, phục vụ tốt nhất cho các bạn sinh viên.</p>
                      <p style="color: red">Liên hệ: 01284616288</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a [routerLink]="['/home/stayprice']" class="list-group-item clearfix">
              <img src="/assets/img/BannerThuTucDangKy.jpg" width="320" height="100">
            </a>
            <a [routerLink]="['/home/bus']" class="list-group-item clearfix">
              <img src="/assets/img/TuyenXeBus.jpg" width="320" height="100">
            </a>
            <a [routerLink]="['/home/listservice']" class="list-group-item clearfix">
              <img src="/assets/img/BannerPhai.jpg" width="320" height="100">
            </a>
          </div>

        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
</div>