<div class="bg-light lter b-b wrapper-md hidden-print">
  <h1 class="m-n font-thin h3">LIÊN HỆ</h1>
</div>
<div class="col-lg-6 col-md-4 col-sm-6">
  <div class="panel b-a">
    <div class="panel-heading wrapper-xs bg-success no-border">
    </div>
    <div class="wrapper text-center">
      <h4 class="text-u-c m-b-none">QUẢN LÝ</h4>
      <h2 class="m-t-none">
        <!-- <sup class="pos-rlt" style="top:-22px">$</sup> -->
        <span class="text-lt">BÙI NAM TRUNG</span>
        <!-- <span class="text-xs">/ mo</span> -->
      </h2>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <i class="icon-call-end text-success m-r-xs"></i> Điện thoại: 01284616288
      </li>
      <li class="list-group-item">
        <i class="glyphicon glyphicon-envelope text-success m-r-xs"></i> Email: namtrung18101996@gmail.com
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-6 col-md-4 col-sm-6">
    <div class="panel b-a">
      <div class="panel-heading wrapper-xs bg-success no-border">
      </div>
      <div class="wrapper text-center">
        <h4 class="text-u-c m-b-none">QUẢN LÝ</h4>
        <h2 class="m-t-none">
          <!-- <sup class="pos-rlt" style="top:-22px">$</sup> -->
          <span class="text-lt">Lâm Cầm Nhâm</span>
          <!-- <span class="text-xs">/ mo</span> -->
        </h2>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="icon-call-end  text-success m-r-xs"></i> Điện thoại: 113
        </li>
        <li class="list-group-item">
          <i class="glyphicon glyphicon-envelope text-success m-r-xs"></i> Email: nhanmap@gmail.com
        </li>
      </ul>
    </div>
  </div>
  
<div class="bg-light lter b-b wrapper-md hidden-print">
  <h1 class="m-n font-thin h3"></h1>
</div>