<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12 staff-avatar">
            <h1 class="m-n font-thin h3 text-black"></h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">
              <span style="color: #ff6600;">QUÁ TRÌNH</span>
              <span style="color: #3366ff;">HÌNH THÀNH</span>
            </h1>
            <div class="wrapper">
              <div class="col-sm-7">
                <ul>
                  <li>
                    <span class="contentspan">Thực hiện Nghị quyết số 18/NQ-CP, Quyết định số 65/2009/QĐ-TTg của Chính phủ về phát triển nhà ở cho
                      học sinh sinh viên các trường đại học, cao đẳng, trung cấp chuyên nghiệp và dạy nghề.</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Quyết định số 4874/QĐ-UBND ngày 29/06/2009 của UBNDTP V/v phê duyệt dự án đầu tư Ký túc xá tập trung
                      phục vụ cho học sinh sinh viên các trường đại học, cao đẳng, trung cấp chuyên nghiệp và dạy nghề trên
                      địa bàn TP. Đà Nẵng.</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">
                      Công trình Ký túc xá được UBND Quận Bình Thạnh làm chủ đầu tư, giao cho Liên danh Công ty cổ phần Đức Mạnh và Công ty cổ
                      phần đầu tư & xây dựng 579 thi công xây dựng.
                    </span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Ký túc xá thoáng mát, sạch sẽ, môi trường “xanh, sạch, đẹp” với tiêu chí: “CHUẨN MỰC – VĂN MINH – HIỆN
                      ĐẠI”. Quản lý sinh viên bằng phần mềm tiên tiến, đặc biệt về an ninh trật tự trong ký túc xá được đảm
                      bảo, kiểm soát ra, vào có hệ thống camera hỗ trợ giám sát chặt chẽ, có đầy đủ các dịch vụ tiện ích
                      nhằm tạo cho các bạn Sinh viên an tâm nghỉ ngơi, học tập, đáp ứng nhu cầu sinh hoạt, vui chơi, giải
                      trí lành mạnh.</span>
                  </li>
                </ul>
              </div>
              <div class="col-sm-5">
                <img src="/assets/img/LOGO_phat_trien.jpg" width="400" height="300">
              </div>
            </div>
          </div>
          <hr width="30%" align="left">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">
              <span style="color: #ff6600;">KHU</span>
              <span style="color: #3366ff;">ĐIỆN BIÊN PHỦ(A)</span>
            </h1>
            <div class="wrapper">
              <div class="col-sm-5">
                <img src="/assets/img/KYTUCXA.jpg" width="400" height="300">
              </div>
              <div class="col-sm-7">
                <ul>
                  <li>
                    <span class="contentspan">Địa chỉ 472A Điện Biên Phủ, Quận Bình Thạnh, TPHCM</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Diện tích 10.472m2</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Khu ký túc xá cho nam</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Gồm 10 lầu</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Sức chứa 1000 sinh viên</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Khu vực dịch vụ & văn phòng Ký túc xá nằm tại khu điều hành Trung tâm</span>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <hr width="30%" align="left">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">
              <span style="color: #ff6600;">KHU</span>
              <span style="color: #3366ff;">UNG VĂN KHIÊM(U)</span>
            </h1>
            <div class="wrapper">
              <div class="col-sm-7">
                <ul>
                  <li>
                    <span class="contentspan">Địa chỉ 721 Ung Văn Khiêm, Quận Bình Thạnh, TPHCM</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Diện tích 11.472m2</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Khu ký túc xá cho nữ</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Gồm 12 lầu</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Sức chứa 1200 sinh viên</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Khu vực dịch vụ & văn phòng Ký túc xá nằm tại khu điều hành Trung tâm</span>
                  </li>
                </ul>
              </div>
              <div class="col-sm-5">
                <img src="/assets/img/KYTUCXA.jpg" width="400" height="300">
              </div>
            </div>
          </div>
          <hr width="30%" align="left">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">
              <span style="color: #ff6600;">DỊCH VỤ</span>
              <span style="color: #3366ff;">TIỆN ÍCH ĐA DẠNG</span>
            </h1>
            <div class="wrapper">
              <div class="col-sm-5">
                <img src="/assets/img/service.jpg" width="400" height="300">
              </div>
              <div class="col-sm-7">
                <ul>
                  <li>
                    <span class="contentspan">Nhà ăn, điểm tâm</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Siêu thị mini tiện lợi</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Đào tạo lái xe ôtô, môtô</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Dạy tiếng anh</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Dịch vụ giặt ủi</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Dịch vụ cắt tóc</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Dịch vụ photocopy</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Câu lạc bộ thể hình</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Và còn rất nhiều dịch vụ tiện ích khác đi kèm đáp ứng nhu cầu ăn, ở, học tập và sinh hoạt của các bạn
                      sinh viên…</span>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <hr width="30%" align="left">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">
              <span style="color: #ff6600;">CÁC HOẠT ĐỘNG</span>
              <span style="color: #3366ff;">PHONG TRÀO - THIỆN NGUYỆN</span>
            </h1>
            <div class="wrapper">
              <div class="col-sm-7">
                <h4>Ký túc xá không chỉ là nơi ở mà còn là nơi sinh viên tự rèn luyện bản thân thông qua các hoạt động THIỆN
                  NGUYỆN, PHONG TRÀO,… là một phần không thể tách rời với công tác phục vụ sinh viên trong Ký túc xá.</h4>
                <br>
                <span style="color: #3366ff">CÁC HOẠT ĐỘNG THIỆN NGUYỆN:</span>
                <ul>
                  <li>
                    <strong>Nồi cháo tình thương:</strong>
                    <span class="contentspan">Định kỳ hằng tháng Ký túc xá đều có 04 nồi cháo dành cho các em nhỏ, những người có hoàn cảnh khó khăn
                      ; Khu A: phát tại Trung tâm bảo trợ Đà Sơn ; Khu U: Phát tại Bệnh viện Phụ sản Nhi</span>
                  </li>
                  <br>
                  <li>
                    <strong>Hiến máu nhân đạo:</strong>
                    <span class="contentspan">Hiện nay đã thành lập CLB ngân hàng máu nóng tại 02 khu Ký túc xá, hằng năm Ký túc xá đóng góp hàng trăm
                      đơn vị máu cho Hội Chữ thập đỏ…</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Phát sữa, quyên góp quần áo cũ cho các em tại Làng Hy Vọng, trẻ em bị chất độc màu da cam</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Tặng xe đạp cho các em HSSV có hoàn cảnh khó khăn</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Chương trình “Tết sum vầy”: Hỗ trợ vé xe cho các em ở xa có hoàn cảnh khó khăn</span>
                  </li>
                </ul>
              </div>
              <div class="col-sm-5">
                <img src="/assets/img/Tinhnguyen.jpg" width="400" height="300">
              </div>
              <div class="col-sm-7">
                <span style="color: #3366ff">CÁC HOẠT ĐỘNG PHONG TRÀO:</span>
                <ul>
                  <li>
                    <span class="contentspan">Chương trình Ngày hội chào tân sinh viên</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Chương trình Hội thao Ký túc xá</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Chương trình Liên hoan ban nhóm nhạc</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Chương trình Tiếp sức mùa thi</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Chương trình Karaoke chào mừng ngày nhà giáo Việt Nam 20/11</span>
                  </li>
                  <br>
                  <li>
                    <span class="contentspan">Chương trình Giờ trái đất,…</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
</div>