<div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <!-- main -->
        <div class="col">
            <!-- main header -->
            <div class="bg-light lter b-b wrapper-md">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 staff-avatar">
                        <h1 class="m-n font-thin h3 text-black"></h1>
                    </div>
                </div>
            </div>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <h1 class="m-n font-thin h3 text-black">
                            <span style="color: #ff6600;">TIN TỨC</span>
                            <span style="color: #3366ff;">KÝ TÚC XÁ</span>
                        </h1>
                        <div *ngFor="let news of list_news  | paginate: { itemsPerPage: 5, currentPage: p }">
                            <hr width="100%" align="left" style="border-width: 5px">
                            <a class="wrapper" [routerLink]="['/home/detail',news.new_id]">
                                <div class="col-sm-2">
                                    <img class="pull-left" *ngIf="news.new_picture != ''" [src]="folder_picture + news.new_picture" width="100" height="100">
                                </div>
                                <div class="col-sm-10">
                                    <h4 style="color: #3366ff;">{{news.new_title}}</h4>
                                    <p class="autofixtext">{{news.new_content}}</p>
                                    <p>{{news.createdAt| date: 'dd-MM-yyyy'}}, người đăng: {{news.new_creater}}</p>
                                </div>
                            </a>
                        </div>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a [routerLink]="['/home/stayprice']" class="list-group-item clearfix">
                            <img src="/assets/img/BannerThuTucDangKy.jpg" width="320" height="100">
                        </a>
                        <a [routerLink]="['/home/bus']" class="list-group-item clearfix">
                            <img src="/assets/img/TuyenXeBus.jpg" width="320" height="100">
                        </a>
                        <a [routerLink]="['/home/listservice']" class="list-group-item clearfix">
                            <img src="/assets/img/BannerPhai.jpg" width="320" height="100">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- / main -->
    </div>
</div>