<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">DÃY</h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">THÊM DÃY</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <label>Dãy</label>
                    <input class="form-control" type="number" id='floor-id' name="floor_id" [(ngModel)]='floor_id' placeholder="Nhập dãy">
                  </div>                
                  <button type="button" (click)="addFloor()"  class='btn m-b-xs btn-sm btn-success btn-addon' >
                    <i class="fa fa-plus"></i>
                    Thêm
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">DANH SÁCH DÃY</div>
              <div class="panel-body">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <td>Dãy/Lầu</td>
                      <td>Tác vụ</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let floor of list_floor">
                      <td>{{floor.floor_id}}</td>
                      <td>
                        <button class='btn m-b-xs btn-sm btn-danger btn-addon' (click)='clearFloor()'  (click)='selectFloor(floor)' data-toggle="modal" data-target="#delModal">
                          <i class="icon-trash"></i>
                          Xóa
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- Modal del-->
  <div id="delModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" (click)='clearFloor()' class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">XÓA DÃY</h4>
        </div>
        <div class="modal-body">
          <p>BẠN CÓ CHẮC CHẮN CHỨ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-xs btn-danger" (click)="delFloor(floor_id)" data-dismiss="modal">Xóa</button>
          <button type="button" class="btn btn-sm btn-dark" (click)='clearFloor()'  data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>