<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12 staff-avatar">
            <h1 class="m-n font-thin h3 text-black"></h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-2 col-xs-12 "></div>
          <div class="col-sm-8 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">ĐĂNG KÝ THUÊ PHÒNG</div>
              <div class="panel-body">
                <form role="form" #formAddStaff="ngForm">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Mã số sinh viên</label>
                      <input id="register-id-school" type="number" [(ngModel)]="register_id_school" name="register_id_school" class="form-control"
                        placeholder="Nhập mã số sinh viên">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Nội dung</label>
                      <textarea class="form-control" rows="8" id="register-content" [(ngModel)]='register_content' name="register_content"
                        placeholder="Nhập nội dung phiếu tối đa 200 ký tự"></textarea>
                    </div>
                  </div>
                </form>
              </div>
              <div class="panel-footer">
                <button type="button" (click)="addRegister()" class="btn btn-success btn-block">Đăng ký</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
</div>