<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-10 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">LẬP HÓA ĐƠN</h1>
          </div>
          <div class="col-sm-2 col-xs-12">
            <button class='btn m-b-xs btn-sm btn-success btn-rounded' (click)='clearCreate()' data-toggle="modal" data-target="#createModal">
              <i class="fa fa-plus"></i>
              Thêm
            </button>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">HÓA ĐƠN</div>
              <div class="panel-body">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <td>Hóa đơn </td>
                      <td>Tên sinh viên</td>
                      <td>Ngày lập</td>
                      <td>Người lập</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bill of list_bill">
                      <td>{{bill.bill_id}}</td>
                      <td>{{bill.stu_name}}</td>
                      <td>{{bill.bill_createAt}}</td>
                      <td>{{bill.bill_create_name}}</td>
                      <td>
                        <button class='btn m-b-xs btn-sm btn-warning btn-addon' (click)='selectBill(bill)' data-toggle="modal" data-target="#detailsModal">
                          <i class="fa fa-file-word-o"></i>
                          Thông tin
                        </button>
                        <button class='btn m-b-xs btn-sm btn-info btn-addon' (click)='selectBill(bill)' data-toggle="modal" data-target="#addServiceModal">
                          <i class="fa fa-tags"></i>
                          Dịch vụ
                        </button>
                        <button class='btn m-b-xs btn-sm btn-danger btn-addon' (click)='selectBill(bill)' data-toggle="modal" data-target="#delModal">
                          <i class="icon-trash"></i>
                          Xóa
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- Modal del-->
  <div id="delModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">HỦY HÓA ĐƠN</h4>
        </div>
        <div class="modal-body">
          <p>BẠN CÓ CHẮC CHẮN CHỨ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-xs btn-danger" (click)="delBill()" data-dismiss="modal">Xóa</button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal create-->
  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">LẬP HÓA ĐƠN</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <label>Hóa đơn</label>
                    <input class="form-control" type="text" id='bill-id' name="bill_id" [(ngModel)]='bill_id' placeholder="Nhập mã hóa đơn" disabled>
                  </div>
                  <div class="form-group">
                    <label>Mã sinh viên</label>
                    <div class="pos-rel">
                      <input class="form-control" (keyup)='getStuTap()' (click)='toggleDropDown()' type="number" id='bill-stu-id' name="bill_stu_id"
                        [(ngModel)]='bill_stu_id' placeholder="Nhập mã sinh viên">
                      <div *ngIf='showDD' class="state-container-dropdown">
                        <div>
                          <div (click)='toggleDropDown()' (click)='selectId(stu)' class="state" *ngFor="let stu of list_id_stu">
                            {{stu.stu_id_school}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" (click)="addBill()" class="btn m-b-xs btn-sm btn-success btn-addon">
                    <i class='fa fa-check'></i>
                    Lập
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal addservice-->
  <div id="addServiceModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">DỊCH VỤ</div>
                <div class="panel-body">
                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <td>Mã </td>
                        <td>Tên dịch vụ</td>
                        <td>Tác vụ</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let service of list_service">
                        <td>{{service.service_id}}</td>
                        <td>{{service.service_name}}</td>
                        <td>
                          <button type="button" (click)="addCart(service)" class='btn m-b-xs btn-sm btn-success'>
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">CHI TIẾT HÓA ĐƠN</div>
                <div class="panel-body">
                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <td>Dịch vụ</td>
                        <td>Giá</td>
                        <td>Tác vụ</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bs of giohangs">
                        <td>{{bs.bs_service_name}}</td>
                        <td>{{bs.bs_service_price|currency:" ":true:'0.0-0'}} VNĐ</td>
                        <td>
                          <button class='btn m-b-xs btn-sm btn-danger btn-addon' (click)='xoaItemgiohang(bs)'>
                            <i class="icon-trash"></i>
                            Xóa
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <strong>Tổng tiền:</strong>
                    <label class="price">{{tongtien |currency:" ":true:'0.0-0' }}VNĐ</label>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal details-->
  <div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">NỘI DUNG HÓA ĐƠN</div>
                <div class="panel-body">
                  <form role="form" autocomplete="off" #formRoom="ngForm">
                    <div class="form-group">
                      <strong>Mã hóa đơn: </strong>
                      <label>{{de_bill_id}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Mã sinh viên:</strong>
                      <label>{{de_bill_stu_id}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Tên sinh viên:</strong>
                      <label>{{de_bill_stu_name}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Ngày lập:</strong>
                      <label>{{de_bill_createdAt}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Người lập:</strong>
                      <label>{{de_bill_create}}</label>
                    </div>
                    <div class="form-group">
                      <div class="panel-heading font-bold">Chi tiết hóa đơn</div>
                      <div class="panel-body">
                        <table class="table table-striped m-b-none">
                          <thead>
                            <tr>
                              <td>
                                <strong>Dịch vụ</strong>
                              </td>
                              <td>
                                <strong>Giá</strong>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let bs of list_bs">
                              <td>{{bs.bs_service_name}}</td>
                              <td>{{bs.bs_service_price|currency:" ":true:'0.0-0'}} VNĐ</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="form-group">
                      <strong>Tổng tiền:</strong>
                      <label class="price">{{tongtien|currency:" ":true:'0.0-0'}} VNĐ</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class='btn m-b-xs btn-sm btn-info btn-addon' (click)="Pay()">
            <i class="fa fa-thumbs-up"></i>
            Lập
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>