<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-10 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">HỢP ĐỒNG</h1>
          </div>
          <div class="col-sm-2 col-xs-12">
            <button class='btn m-b-xs btn-sm btn-primary btn-rounded' (click)="clearSearch()" data-toggle="modal" data-target="#searchModal">
              <i class="icon-magnifier"></i>
              Tìm kiếm
            </button>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">DANH SÁCH HỢP ĐỒNG HẾT HẠN
                <button class='btn m-b-xs btn-sm btn-info' (click)='getContract()'>
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
              <div class="panel-body">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <td>Mã</td>
                      <td>Sinh viên</td>
                      <td>Phòng</td>
                      <td>Hợp đồng</td>
                      <td>Ngày lập</td>
                      <td>Người lập</td>
                      <td>Tác vụ</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contract of list_contract | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td>{{contract.contract_id}}</td>
                      <td>{{contract.stu_name}}</td>
                      <td>{{contract.room_name}}</td>
                      <td>{{contract.recontract_name}}</td>
                      <td>{{contract.contract_createdAt}}</td>
                      <td>{{contract.contract_create}}</td>
                      <td>
                        <button class='btn m-b-xs btn-sm btn-warning btn-addon' (click)='selectDetailContract(contract)' data-toggle="modal" data-target="#detailModal">
                          <i class="fa fa-file-word-o"></i>
                          Thông tin
                        </button>
                        <button class='btn m-b-xs btn-sm btn-danger btn-addon' (click)='selectContract(contract)' data-toggle="modal" data-target="#delModal">
                          <i class="icon-trash"></i>
                          Xóa
                        </button>
                        <!-- <button (click)='selectRoom(room)' class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delModal">Xóa</button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- Modal del-->
  <div id="delModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">XÓA HỢP ĐỒNG</h4>
        </div>
        <div class="modal-body">
          <p>BẠN CÓ CHẮC CHẮN CHỨ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-xs btn-danger" (click)="delContract(contract_id)">Xóa</button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal DetailContract-->
  <div id="detailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">HỢP ĐỒNG</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">NỘI DUNG HỢP ĐỒNG</div>
              <div class="panel-body">
                <form role="form" autocomplete="off" #formRoom="ngForm">
                  <div class="form-group">
                    <strong>Mã sinh viên: </strong>
                    <label>{{de_stu_id_school}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Tên sinh viên:</strong>
                    <label> {{de_stu_name}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Hợp đồng:</strong>
                    <label> {{de_contract_id}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Phòng thuê: </strong>
                    <label>{{de_room_name}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Nội dung hợp đồng:</strong>
                    <label> {{de_recontract_name}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Khuyến mãi:</strong>
                    <label> {{de_recontract_promotion}}%</label>
                  </div>
                  <div class="form-group">
                    <strong>Thời hạn hợp đồng:</strong>
                    <label> {{de_recontract_limit}} tháng</label>
                  </div>
                  <div class="form-group">
                    <strong>Ngày lập:</strong>
                    <label> {{de_contract_createdAt}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Ngày nhận phòng:</strong>
                    <label> {{de_contract_date_get_room}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Ngày hết hạn:</strong>
                    <label> {{de_contract_date_end}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Người lập:</strong>
                    <label> {{de_contract_create}}</label>
                  </div>
                  <div class="form-group">
                    <strong>Tổng tiền:</strong>
                    <label class="price"> {{de_contract_price|currency:" ":true:'0.0-0'}} VNĐ</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal search-->
  <div id="searchModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">TÌM HỢP ĐỒNG</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Mã hợp đồng</label>
            <input id="search-contract-id" type="text" [(ngModel)]="search_contract_id" name="search_contract_id" class="form-control"
              placeholder="Nhập mã hợp đồng">
          </div>
          <div class="form-group">
            <label>Mã sinh viên</label>
            <input id="search-stu-id" type="text" [(ngModel)]="search_stu_id" name="search_stu_id" class="form-control" placeholder="Nhập mã sinh viên">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="searchContract()" class="btn m-b-xs btn-sm btn-primary btn-addon">
            <i class='icon-magnifier'></i>
            Tìm kiếm
          </button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>