<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-10 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">DANH SÁCH HÓA ĐƠN</h1>
          </div>
          <div class="col-sm-2 col-xs-12">
            <button class='btn m-b-xs btn-sm btn-primary btn-rounded' (click)="clearSearch()" data-toggle="modal" data-target="#searchModal">
              <i class="icon-magnifier"></i>
              Tìm kiếm
            </button>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">HÓA ĐƠN
                <button class='btn m-b-xs btn-sm btn-info' (click)='getBill()'>
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
              <div class="panel-body">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <td>Hóa đơn </td>
                      <td>Tên sinh viên</td>
                      <td>Ngày lập</td>
                      <td>Tổng tiền</td>
                      <td>Người lập</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bill of list_bill | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td>{{bill.bill_id}}</td>
                      <td>{{bill.stu_name}}</td>
                      <td>{{bill.bill_createAt}}</td>
                      <td>{{bill.bill_total|currency:" ":true:'0.0-0'}} VNĐ</td>
                      <td>{{bill.bill_create_name}}</td>
                      <td>
                        <button class='btn m-b-xs btn-sm btn-warning btn-addon' (click)='selectBill(bill)' data-toggle="modal" data-target="#detailsModal">
                          <i class="fa fa-file-word-o"></i>
                          Thông tin
                        </button>
                        <button *ngIf="user_position === 'admin'" class='btn m-b-xs btn-sm btn-danger btn-addon' (click)='selectBill(bill)' data-toggle="modal" data-target="#delModal">
                          <i class="icon-trash"></i>
                          Xóa
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- Modal del-->
  <div id="delModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">HỦY HÓA ĐƠN</h4>
        </div>
        <div class="modal-body">
          <p>BẠN CÓ CHẮC CHẮN CHỨ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-xs btn-danger" (click)="delBill()" data-dismiss="modal">Xóa</button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal create-->
  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">LẬP HÓA ĐƠN</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <label>Hóa đơn</label>
                    <input class="form-control" type="text" id='bill-id' name="bill_id" [(ngModel)]='bill_id' placeholder="Nhập mã hóa đơn" disabled>
                  </div>
                  <div class="form-group">
                    <label>Mã sinh viên</label>
                    <div class="pos-rel">
                      <input class="form-control" (keyup)='getStuTap()' (click)='toggleDropDown()' type="number" id='bill-stu-id' name="bill_stu_id"
                        [(ngModel)]='bill_stu_id' placeholder="Nhập mã sinh viên">
                      <div *ngIf='showDD' class="state-container-dropdown">
                        <div>
                          <div (click)='toggleDropDown()' (click)='selectId(stu)' class="state" *ngFor="let stu of list_id_stu">
                            {{stu.stu_id_school}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="button" (click)="addBill()" class="btn m-b-xs btn-sm btn-success btn-addon">
                    <i class='fa fa-check'></i>
                    Lập
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal details-->
  <div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">NỘI DUNG HÓA ĐƠN</div>
                <div class="panel-body">
                  <form role="form" autocomplete="off" #formRoom="ngForm">
                    <div class="form-group">
                      <strong>Mã hóa đơn: </strong>
                      <label>{{de_bill_id}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Mã sinh viên:</strong>
                      <label>{{de_bill_stu_id}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Tên sinh viên:</strong>
                      <label>{{de_bill_stu_name}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Ngày lập:</strong>
                      <label>{{de_bill_createdAt}}</label>
                    </div>
                    <div class="form-group">
                      <strong>Người lập:</strong>
                      <label>{{de_bill_create}}</label>
                    </div>
                    <div class="form-group">
                      <div class="panel-heading font-bold">Chi tiết hóa đơn</div>
                      <div class="panel-body">
                        <table class="table table-striped m-b-none">
                          <thead>
                            <tr>
                              <td>
                                <strong>Dịch vụ</strong>
                              </td>
                              <td>
                                <strong>Số lượng</strong>
                              </td>
                              <td>
                                <strong>Đơn vị</strong>
                              </td>
                              <td>
                                <strong>Đơn giá</strong>
                              </td>
                              <td>
                                <strong>Tổng tiền</strong>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let bs of list_bs">
                              <td>{{bs.service_name}}</td>
                              <td>{{bs.bs_count}}</td>
                              <td>{{bs.service_unit}}</td>
                              <td>{{bs.bs_service_price|currency:" ":true:'0.0-0'}} VNĐ</td>
                              <td>{{bs.bs_total|currency:" ":true:'0.0-0'}} VNĐ</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="form-group">
                      <strong>Tổng tiền:</strong>
                      <label class="price">{{de_bill_total|currency:" ":true:'0.0-0'}} VNĐ</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal search-->
  <div id="searchModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">TÌM PHIẾU ĐIỆN</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Mã hóa đơn</label>
                <input id="search-bill-id" type="text" [(ngModel)]="search_bill_id" name="search_bill_id" class="form-control" placeholder="Nhập mã hóa đơn">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Mã sinh viên</label>
                <input id="search-stu-id" type="text" [(ngModel)]="search_stu_id" name="search_stu_id" class="form-control" placeholder="Nhập mã số sinh viên">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="findBill()" class="btn m-b-xs btn-sm btn-primary btn-addon">
            <i class='icon-magnifier'></i>
            Tìm kiếm
          </button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>