<div class="app app-header-fixed ">

  <!-- header -->
  <header id="header" class="app-header navbar" role="menu">
    <!-- navbar header -->
    <div class="navbar-header bg-white">
      <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
      </button>
      <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
      </button>
      <!-- brand -->
      <a href="#/" class="navbar-brand text-lt logoMain">
        <img src="https://pbs.twimg.com/profile_images/974246464577724418/7yDcR35n.jpg" alt="">
        <img src="assets/img/logo.png" alt="." class="hide">
        <span class="hidden-folded m-l-xs">HUTECH</span>
      </a>
      <!-- / brand -->
    </div>
    <!-- / navbar header -->

    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
      <!-- buttons -->
      <div class="nav navbar-nav hidden-xs">
        <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
          <i class="fa fa-dedent fa-fw text"></i>
          <i class="fa fa-indent fa-fw text-active"></i>
        </a>
        <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
          <i class="icon-user fa-fw"></i>
        </a>
      </div>
      <!-- / buttons -->

      <!-- link and dropdown -->
      <!-- <ul class="nav navbar-nav hidden-sm">
              <li class="dropdown pos-stc">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <span>Mega</span> 
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu wrapper w-full bg-white">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="m-l-xs m-t-xs m-b-xs font-bold">Pages <span class="badge badge-sm bg-success">10</span></div>
                      <div class="row">
                        <div class="col-xs-6">
                          <ul class="list-unstyled l-h-2x">
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Profile</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Post</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Search</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Invoice</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-xs-6">
                          <ul class="list-unstyled l-h-2x">
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Price</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lock screen</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign in</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign up</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 b-l b-light">
                      <div class="m-l-xs m-t-xs m-b-xs font-bold">UI Kits <span class="label label-sm bg-primary">12</span></div>
                      <div class="row">
                        <div class="col-xs-6">
                          <ul class="list-unstyled l-h-2x">
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Buttons</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Icons <span class="badge badge-sm bg-warning">1000+</span></a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Grid</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Widgets</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-xs-6">
                          <ul class="list-unstyled l-h-2x">
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Bootstap</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sortable</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Portlet</a>
                            </li>
                            <li>
                              <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Timeline</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 b-l b-light">
                      <div class="m-l-xs m-t-xs m-b-sm font-bold">Analysis</div>
                      <div class="text-center">
                        <div class="inline">
                          <div ui-jq="easyPieChart" ui-options="{
                              percent: 65,
                              lineWidth: 50,
                              trackColor: '#e8eff0',
                              barColor: '#23b7e5',
                              scaleColor: false,
                              size: 100,
                              rotate: 90,
                              lineCap: 'butt',
                              animate: 2000
                            }">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                  <span translate="header.navbar.new.NEW">New</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" translate="header.navbar.new.PROJECT">Projects</a></li>
                  <li>
                    <a href>
                      <span class="badge bg-info pull-right">5</span>
                      <span translate="header.navbar.new.TASK">Task</span>
                    </a>
                  </li>
                  <li><a href translate="header.navbar.new.USER">User</a></li>
                  <li class="divider"></li>
                  <li>
                    <a href>
                      <span class="badge bg-danger pull-right">4</span>
                      <span translate="header.navbar.new.EMAIL">Email</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul> -->
      <!-- / link and dropdown -->

      <!-- search form -->
      <!-- <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" data-target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder" placeholder="Search projects...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form> -->
      <!-- / search form -->

      <!-- nabar right -->
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
              <img *ngIf="user_position === 'admin'" src="assets/img/admin.jpg" class="img-full" alt="...">
              <img *ngIf="user_position === 'user'" src="assets/img/user.jpg" class="img-full" alt="...">
              <i class="on md b-white bottom"></i>
            </span>
            <span class="hidden-sm hidden-md">{{user['user_name']}}</span>
            <b class="caret"></b>
          </a>
          <!-- dropdown -->
          <ul class="dropdown-menu animated fadeInRight w">
            <li>
              <a routerLink='profile'>
                <span class="badge bg-danger pull-right"></span>
                <span>Thông tin</span>
              </a>
            </li>
            <li>
              <a routerLink='password'>
                <span class="label bg-info pull-right"></span>
                Đổi mật khẩu
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ui-sref="access.signin" (click)='logOut()'>Đăng xuất</a>
            </li>
          </ul>
          <!-- / dropdown -->
        </li>
      </ul>
      <!-- / navbar right -->
    </div>
    <!-- / navbar collapse -->
  </header>
  <!-- / header -->


  <!-- aside -->
  <aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
      <div class="navi-wrap">
        <!-- user -->
        <div class="clearfix hidden-xs text-center hide show" id="aside-user">
          <div class="dropdown wrapper">
            <a href="app.page.profile">
              <span class="thumb-lg w-auto-folded avatar m-t-sm">
                <img *ngIf="user_position === 'admin'" src="assets/img/admin.jpg" class="img-full" alt="...">
                <img *ngIf="user_position === 'user'" src="assets/img/user.jpg" class="img-full" alt="...">
              </span>
            </a>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle hidden-folded">
              <span class="clear">
                <span class="block m-t-sm">
                  <strong class="font-bold text-lt">{{user['user_name']}}</strong>
                  <b class="caret"></b>
                </span>
                <span class="text-muted text-xs block">{{user_position}}</span>
              </span>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w hidden-folded">
              <li>
                <a routerLink='profile'>
                  <span class="badge bg-danger pull-right"></span>
                  <span>Thông tin</span>
                </a>
              </li>
              <li>
                <a routerLink='password'>
                  <span class="label bg-info pull-right"></span>
                  Đổi mật khẩu
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ui-sref="access.signin" (click)='logOut()'>Đăng xuất</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </div>
          <div class="line dk hidden-folded"></div>
        </div>
        <!-- / user -->

        <!-- nav -->
        <nav ui-nav class="navi clearfix">
          <ul class="nav">
            <!-- <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>Navigation</span>
                  </li> -->
            <!-- <li>
                    <a href class="auto">      
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                      <span class="font-bold">Dashboard</span>
                    </a>
                    <ul class="nav nav-sub dk">
                      <li class="nav-sub-header">
                        <a href>
                          <span>Dashboard</span>
                        </a>
                      </li>
                      <li>
                        <a href="index.html">
                          <span>Dashboard v1</span>
                        </a>
                      </li>
                      <li>
                        <a href="dashboard.html">
                          <b class="label bg-info pull-right">N</b>
                          <span>Dashboard v2</span>
                        </a>
                      </li>
                    </ul>
                  </li> -->
            <li *ngIf="user_position === 'admin'">
              <a routerLink="user">
                <i class="icon-user icon text-info-lter"></i>
                <span class="font-bold">User</span>
              </a>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="icon-note icon text-info-lter"></i>
                <span class="font-bold">Phiếu đăng ký</span>
              </a>
              <ul class="nav nav-sub dk">
                <li>
                  <a routerLink='register/enable'>
                    <span>Chưa xem</span>
                  </a>
                </li>
                <li>
                  <a routerLink="register/disable">
                    <span>Đã xem</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-signal icon  text-info-lter"></i>
                <span class="font-bold">Thống kê</span>
              </a>
              <ul class="nav nav-sub dk">
                <li>
                  <a routerLink='chart/contract'>
                    <span>Hợp đồng hết hạn</span>
                  </a>
                </li>
                <li>
                  <a routerLink='chart/service'>
                    <span>Ký túc xá</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="line dk"></li>

            <!-- <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>Components</span>
                  </li> -->
            <li>
              <a>
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <b class="badge bg-info pull-right"></b>
                <i class="icon-users"></i>
                <span>Sinh viên</span>
              </a>
              <ul class="nav nav-sub dk">
                <li>
                  <a routerLink="student">
                    <span>Danh sách</span>
                  </a>
                </li>
                <li *ngIf="user_position === 'admin'">
                  <a routerLink="student/addstu">
                    <span>Thêm sinh viên</span>
                  </a>
                </li>
                <!-- <li>
                        <a href="layout_fullwidth.html">
                          <span>Full width</span>
                        </a>
                      </li>
                      <li>
                        <a href="layout_boxed.html">
                          <span>Boxed layout</span>
                        </a>
                      </li>       -->
              </ul>
            </li>
            <li *ngIf="user_position === 'admin'">
              <a class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="icon-book-open"></i>
                <span>Khoa/Lớp</span>
              </a>
              <ul class="nav nav-sub dk">
                <!-- <li class="nav-sub-header">
                        <a routerLink="faculty">
                          <span>Quản lý khoa</span>
                        </a>
                      </li> -->
                <li>
                  <a routerLink="faculty">
                    <span>Khoa</span>
                  </a>
                </li>
                <li>
                  <a routerLink="class">
                    <b class="badge bg-info pull-right"></b>
                    <span>Lớp</span>
                  </a>
                </li>
                <!-- <li>
                        <a href="ui_grid.html">
                          <span>Grid</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_widget.html">
                          <b class="badge bg-success pull-right">13</b>
                          <span>Widgets</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_sortable.html">
                          <span>Sortable</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_portlet.html">
                          <span>Portlet</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_timeline.html">
                          <span>Timeline</span>
                        </a>
                      </li>
                      <li>
                        <a href="ui_jvectormap.html">
                          <span>Vector Map</span>
                        </a>
                      </li> -->
              </ul>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-building-o"></i>
                <span>Ký túc xá</span>
              </a>
              <ul class="nav nav-sub dk">
                <li *ngIf="user_position === 'admin'">
                  <a routerLink='area'>
                    <span>Khu</span>
                  </a>
                </li>
                <li>
                  <a routerLink="room">
                    <span>Phòng</span>
                  </a>
                </li>
                <li *ngIf="user_position === 'admin'">
                  <a routerLink="rule">
                    <span>Quy định</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-edit"></i>
                <span>Hợp đồng</span>
              </a>
              <ul class="nav nav-sub dk">
                <li *ngIf="user_position === 'admin'">
                  <a routerLink='contractreg'>
                    <span>Quy định hợp đồng</span>
                  </a>
                </li>
                <li>
                  <a routerLink="contract">
                    <span>Thêm hợp đồng</span>
                  </a>
                </li>
                <li>
                  <a routerLink="oldcontract">
                    <span>Hợp đồng hết hạn</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-tags"></i>
                <span>Dịch vụ</span>
              </a>
              <ul class="nav nav-sub dk">
                <li *ngIf="user_position === 'admin'">
                  <a routerLink="service">
                    <span>Danh sách dịch vụ</span>
                  </a>
                </li>
                <li>
                  <a routerLink="bill/listbill">
                    <span>Danh sách hóa đơn</span>
                  </a>
                </li>
                <li>
                  <a routerLink="bill/addbill">
                    <span>Lập hóa đơn</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="icon-energy"></i>
                <span>Phiếu điện</span>
              </a>
              <ul class="nav nav-sub dk">
                <li>
                  <a routerLink="addelec">
                    <span>Lập phiếu điện</span>
                  </a>
                </li>
                <li>
                  <a routerLink="diselec">
                    <span>Đã thanh toán</span>
                  </a>
                </li>
                <li>
                  <a routerLink="enelec">
                    <span>Chưa thanh toán</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="icon-map"></i>
                <span>Bảng tin</span>
              </a>
              <ul class="nav nav-sub dk">
                <li>
                  <a routerLink="news/add">
                    <span>Đăng tin</span>
                  </a>
                </li>
                <li>
                  <a routerLink="news/list">
                    <span>Danh sách tin</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href class="auto">
                <span class="pull-right text-muted">
                  <i class="fa fa-fw fa-angle-right text"></i>
                  <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-paste"></i>
                <span>Biên bản</span>
              </a>
              <ul class="nav nav-sub dk">
                <li>
                  <a routerLink="report/addreport">
                    <span>Lập biên bản</span>
                  </a>
                </li>
                <li>
                  <a routerLink="report/listreport">
                    <span>Danh sách biên bản</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="line dk hidden-folded"></li>
          </ul>
        </nav>
        <!-- nav -->

        <!-- aside footer -->
        <!-- <div class="wrapper m-t">
                <div class="text-center-folded">
                  <span class="pull-right pull-none-folded">60%</span>
                  <span class="hidden-folded">Milestone</span>
                </div>
                <div class="progress progress-xxs m-t-sm dk">
                  <div class="progress-bar progress-bar-info" style="width: 60%;">
                  </div>
                </div>
                <div class="text-center-folded">
                  <span class="pull-right pull-none-folded">35%</span>
                  <span class="hidden-folded">Release</span>
                </div>
                <div class="progress progress-xxs m-t-sm dk">
                  <div class="progress-bar progress-bar-primary" style="width: 35%;">
                  </div>
                </div>
              </div> -->
        <!-- / aside footer -->
      </div>
    </div>
  </aside>
  <!-- / aside -->


  <!-- content -->
  <div id="content" class="app-content" role="main">
    <router-outlet></router-outlet>
  </div>
  <!-- /content -->

  <!-- footer -->
  <footer id="footer" class="app-footer" role="footer">
    <div class="wrapper b-t bg-light">
      <span class="pull-right">Thiết kế bởi Bùi Nam Trung
        <a href ui-scroll="app" class="m-l-sm text-muted">
          <i class="fa fa-long-arrow-up"></i>
        </a>
      </span>
      &copy; 2018 .
    </div>
  </footer>
  <!-- / footer -->
</div>