<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">PHÒNG</h1>
          </div>
          <div class="col-sm-4 col-xs-12">
            <button class='btn m-b-xs btn-sm btn-info btn-rounded' (click)='clearPrice()' data-toggle="modal" data-target="#priceModal">
              <i class="icon-pencil"></i>
              Cập nhật giá phòng
            </button>
            <button class='btn m-b-xs btn-sm btn-primary btn-rounded' (click)='clearSearch()' data-toggle="modal" data-target="#searchModal">
              <i class="icon-magnifier"></i>
              Tìm kiếm
            </button>
            <button class='btn m-b-xs btn-sm btn-success btn-rounded' (click)='clearCreateRoom()' data-toggle="modal" data-target="#createModal">
              <i class="fa fa-plus"></i>
              Thêm
            </button>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">DANH SÁCH PHÒNG
                <button class='btn m-b-xs btn-sm btn-info' (click)='getRoom()'>
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
              <div class="panel-body">
                <table class="table table-striped m-b-none">
                  <thead>
                    <tr>
                      <td>Số phòng</td>
                      <td>Sức chứa</td>
                      <td>Đang ở</td>
                      <td>Khu</td>
                      <td>Tầng</td>
                      <td>Giá</td>
                      <td>Tác vụ</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let room of list_room">
                      <td>{{room.room_name}}</td>
                      <td>{{room.room_max}}</td>
                      <td>{{room.room_currency}}</td>
                      <td>{{room.area_sympol}}</td>
                      <td>{{room.room_floor}}</td>
                      <td>{{room.room_price|currency:" ":true:'0.0-0'}} VNĐ</td>
                      <td>
                        <button class='btn m-b-xs btn-sm btn-info btn-addon' (click)='selectStuInRoom(room)' data-toggle="modal" data-target="#stuModal">
                          <i class="fa fa-group"></i>
                          Sinh viên
                        </button>
                        <button class='btn m-b-xs btn-sm btn-dark btn-addon' (click)='selectRoom(room)' data-toggle="modal" data-target="#updateModal">
                          <i class="icon-pencil"></i>
                          Cập nhật
                        </button>
                        <button class='btn m-b-xs btn-sm btn-danger btn-addon' (click)='selectRoom(room)' data-toggle="modal" data-target="#delModal">
                          <i class="icon-trash"></i>
                          Xóa
                        </button>
                        <!-- <button (click)='selectRoom(room)' class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delModal">Xóa</button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- Modal del-->
  <div id="delModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">XÓA PHÒNG</h4>
        </div>
        <div class="modal-body">
          <p>BẠN CÓ CHẮC CHẮN CHỨ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-xs btn-danger" (click)="delRoom(room_id)" data-dismiss="modal">Xóa</button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal Student-->
  <div id="stuModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DANH SÁCH SINH VIÊN</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading font-bold"></div>
                <div class="panel-body">
                  <table class="table table-striped m-b-none">
                    <thead>
                      <tr>
                        <td>Mã số</td>
                        <td>Họ và tên</td>
                        <td>Ngày sinh</td>
                        <td>Giới tính</td>
                        <td>SDT</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stu of list_stu">
                        <td>{{stu.stu_id_school}}</td>
                        <td>{{stu.stu_name}}</td>
                        <td>{{stu.stu_birthday}}</td>
                        <td>{{stu.stu_sex === 'male'? 'Nam':'Nữ'}}</td>
                        <td>{{stu.stu_phone}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button class="btn btn-xs btn-danger" (click)="delRoom(room_id)" data-dismiss="modal">Xóa</button> -->
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal create-->
  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thêm phòng</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">THÊM PHÒNG</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <label>Phòng</label>
                    <input class="form-control" id='cre-room-name' name="cre_room_name" [(ngModel)]='cre_room_name' placeholder="Nhập tên tên phòng">
                  </div>
                  <div class="form-group">
                    <label>Sức chứa</label>
                    <input class="form-control" id='cre-room-max' name="cre_room_max" [(ngModel)]='cre_room_max' placeholder="Nhập số lượng chứa của phòng">
                  </div>
                  <div class="form-group">
                    <label>Khu</label>
                    <select class="form-control" [(ngModel)]="cre_room_id_area" name="cre_room_id_area" id="cre-room-id-area">
                      <option value="">Chọn khu</option>
                      <option *ngFor="let area of list_area" [ngValue]="area['area_id']">{{area['area_sympol']}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Tầng</label>
                    <input class="form-control" id='cre-room-floor' name="cre_room_floor" [(ngModel)]='cre_room_floor' placeholder="Nhập tầng">
                  </div>
                  <div class="form-group">
                    <label>Giá</label>
                    <input class="form-control" id='cre-room-price' name="cre_room_price" [(ngModel)]='cre_room_price' placeholder="Nhập giá cho phòng">
                  </div>
                  <button type="button" (click)="addRoom()" class="btn m-b-xs btn-sm btn-success btn-addon">
                    <i class='fa fa-check'></i>
                    Thêm
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal search-->
  <div id="searchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" (click)='clearRoom()' class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tìm kiếm</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">TÌM KIẾM PHÒNG</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <label>Phòng</label>
                    <input class="form-control" id='search-room' name="search_room" [(ngModel)]='search_room' placeholder="Nhập tên phòng">
                  </div>
                  <div class="form-group">
                    <label>Khu</label>
                    <select class="form-control" [(ngModel)]="search_area" name="search_area" id="search-area">
                      <option value="">Chọn khu</option>
                      <option *ngFor="let area of list_area" [ngValue]="area['area_id']">{{area['area_sympol']}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Tầng</label>
                    <input class="form-control" id='search-floor' name="search_floor" [(ngModel)]='search_floor' placeholder="Nhập tầng">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="searchRoom()" class="btn m-b-xs btn-sm btn-primary btn-addon">
            <i class='icon-magnifier'></i>
            Tìm kiếm
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal update-->
  <div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cập nhật phòng</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">CẬP NHẬT PHÒNG</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <strong>Tên phòng: </strong>
                    <label>{{room_name}}</label>
                  </div>
                  <div class="form-group">
                    <label>Tên phòng mới</label>
                    <input class="form-control" id='update-room-name' name="update_room_name" [(ngModel)]='update_room_name' placeholder="Nhập tên tên phòng mới">
                  </div>
                  <div class="form-group">
                    <label>Sức chứa</label>
                    <input class="form-control" id='room-max' name="room_max" [(ngModel)]='room_max' placeholder="Nhập số lượng chứa của phòng">
                  </div>
                  <button type="button" (click)="updateRoom()" class="btn m-b-xs btn-sm btn-dark btn-addon">
                    <i class='icon-pencil'></i>
                    Cập nhật
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal price-->
  <div id="priceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">CẬP NHẬT GIÁ PHÒNG</div>
              <div class="panel-body">
                <form role="form" #formRoom="ngForm">
                  <div class="form-group">
                    <label>Khu</label>
                    <select class="form-control" [(ngModel)]="p_room_id_area" name="p_room_id_area" id="p-room-id-area">
                      <option value="">Chọn khu</option>
                      <option *ngFor="let area of list_area" [ngValue]="area['area_id']">{{area['area_sympol']}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Tầng</label>
                    <input class="form-control" type="number" id='p-room-floor' name="p_room_floor" [(ngModel)]='p_room_floor' placeholder="Nhập tầng">
                  </div>
                  <div class="form-group">
                    <label>Giá</label>
                    <input class="form-control" type="number" id='p-room-price' name="p_room_price" [(ngModel)]='p_room_price' placeholder="Nhập giá cho phòng">
                  </div>
                  <button type="button" (click)="updatePrice()" class="btn m-b-xs btn-sm btn-info btn-addon">
                    <i class='icon-pencil'></i>
                    Cập nhật
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>