<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12 staff-avatar">
            <h1 class="m-n font-thin h3 text-black">Danh sách sinh viên</h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading"></div>
              <div class="panel-body">
                <table class="table table-striped b-t b-light table-bordered table-hover table-text-center">
                  <thead>
                    <tr>
                      <th>Mã số</th>
                      <th>Họ và tên</th>
                      <th>Giới tính</th>
                      <th>Khoa</th>
                      <th>Phòng</th>
                      <th style="width:250px">Công cụ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let stu of list_students">
                      <td>{{stu.stu_id_school}}</td>
                      <td>{{stu.stu_name}}</td>
                      <td>{{stu.stu_sex === 'male'? 'Nam':'Nữ'}}</td>
                      <td>{{stu.fal_name}}</td>
                      <td>{{stu.room_name}}</td>
                      <td>
                        <button class='btn m-b-xs btn-sm btn-primary ' (click)='selectStu(stu)' data-toggle="modal" data-target="#pickRoomModal">
                          <i class="fa fa-home"></i>
                        </button>
                        <button class='btn m-b-xs btn-sm btn-success' (click)='selectStu(stu)' data-toggle="modal" data-target="#swapRoomModal">
                          <i class="icon-refresh"></i>
                        </button>
                        <button class='btn m-b-xs btn-sm btn-info' (click)='selectStu(stu)' data-toggle="modal" data-target="#endRoomModal">
                          <i class="icon-login"></i>
                        </button>
                        <button class='btn m-b-xs btn-sm btn-warning ' (click)='selectStu(stu)' data-toggle="modal" data-target="#stuModal">
                          <i class="icon-pencil"></i>
                        </button>
                        <button class='btn m-b-xs btn-sm btn-danger ' (click)='selectStu(stu)' data-toggle="modal" data-target="#delModal">
                          <i class="icon-trash"></i>
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
  <!-- Modal Update-->
  <div id="stuModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">{{select_staff['staff_fullname']}}</h4> -->
          <h4 class="modal-title">CẬP NHẬT THÔNG TIN SINH VIÊN</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Ảnh đại diện</div>
                <div class="panel-body">
                  <div class="stu-avatar" style="display:block; text-align:center">
                    <img *ngIf="stu_avatar === ''" src="https://i.imgur.com/jNNT4LE.jpg" width="125" height="125" />
                    <img *ngIf="stu_avatar != ''" [src]="folder_avatar + stu_avatar" width="125" height="125" />
                    <label class="btn btn-default btn-file" style="margin-top:45px">
                      Chọn ảnh
                      <input id="stu-avatar" (change)="uploadAvatar($event)" type="file" style="display: none" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">THÔNG TIN SINH VIÊN</div>
                <div class="panel-body">
                  <form role="form" #formfixStaff="ngForm">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Mã số sinh viên</label>
                        <input id="stu-id-school" type="number" [(ngModel)]="stu_id_school" name="stu_id_school" class="form-control" placeholder="Nhập mã số sinh viên">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Tên sinh viên</label>
                        <input id="stu-name" type="text" [(ngModel)]="stu_name" name="stu_name" class="form-control" placeholder="Nhập tên sinh viên">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Chọn lớp</label>
                        <select class="form-control" [(ngModel)]="stu_id_class" name="stu_id_class" id="stu-id-class">
                          <option value="">Chọn lớp</option>
                          <option *ngFor="let class of list_class" [ngValue]="class['class_id']">{{class['class_name']}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Số điện thoại</label>
                        <input id="stu-phone" type="number" [(ngModel)]="stu_phone" name="stu_phone" class="form-control" placeholder="Nhập số điện thoại">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Email</label>
                        <input id="stu-email" type="text" [(ngModel)]="stu_email" name="stu_email" class="form-control" placeholder="Nhập email">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Địa chỉ</label>
                        <input id="stu-address" type="text" [(ngModel)]="stu_address" name="stu_address" class="form-control" placeholder="Nhập địa chỉ">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Ngày sinh</label>
                        <input id="stu-birthday" type="text" class="form-control" placeholder="Nhập ngày sinh">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Giới tính</label>
                        <select id="stu-sex" [(ngModel)]="stu_sex" name="stu_sex" class="form-control">
                          <option value="undefined">Chọn giới tính</option>
                          <option value="male">Nam</option>
                          <option value="female">Nữ</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Tên cha</label>
                        <input id="stu-dad-name" type="text" [(ngModel)]="stu_dad_name" name="stu_dad_name" class="form-control" placeholder="Nhập tên cha">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Số điện thoại của cha</label>
                        <input id="stu-dad-phone" type="number" [(ngModel)]="stu_dad_phone" name="stu_dad_phone" class="form-control" placeholder="Nhập số điện thoại của cha">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Tên mẹ</label>
                        <input id="stu-mom-name" type="text" [(ngModel)]="stu_mom_name" name="stu_mom_name" class="form-control" placeholder="Nhập tên mẹ">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Số điện thoại của mẹ</label>
                        <input id="stu-mom-phone" type="number" [(ngModel)]="stu_mom_phone" name="stu_mom_phone" class="form-control" placeholder="Nhập số điện thoại của mẹ">
                      </div>
                    </div>
                    <!-- <button type="button" (click)="addStaff()" class="btn btn-sm btn-primary">Thêm</button> -->
                  </form>
                </div>
                <div class="panel-footer">
                  <button type="button" (click)="updateStu()" class="btn btn-primary btn-block">Sửa thông tin</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal del-->
  <div id="delModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">XÓA SINH VIÊN</h4>
        </div>
        <div class="modal-body">
          <p>BẠN CÓ CHẮC CHẮN CHỨ?</p>
        </div>
        <div class="modal-footer">
          <button (click)='delStu()' data-dismiss="modal" class="btn btn-sm btn-danger">Xóa</button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal pick-room-->
  <div id="pickRoomModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">CHỌN PHÒNG</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Phòng</label>
            <select class="form-control" [(ngModel)]="stu_id_room" name="stu_id_room" id="stu-id-room">
              <option value="0">Chọn phòng</option>
              <option *ngFor="let room of list_room" [ngValue]="room['room_id']">{{room['room_name']}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="pickRoom()" class="btn m-b-xs btn-sm btn-primary btn-addon">
            <i class='fa fa-home'></i>
            Chọn phòng
          </button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal swap-room-->
  <div id="swapRoomModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ĐỔI PHÒNG</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Phòng</label>
            <select class="form-control" [(ngModel)]="swap_id_room" name="swap_id_room" id="swap-id-room">
              <option value="0">Chọn phòng</option>
              <option *ngFor="let room of list_room" [ngValue]="room['room_id']">{{room['room_name']}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="swapRoom()" class="btn m-b-xs btn-sm btn-success btn-addon">
            <i class='icon-refresh'></i>
            Đổi phòng
          </button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal leave-room-->
  <div id="endRoomModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">TRẢ PHÒNG</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" (click)="endRoom()" class="btn m-b-xs btn-sm btn-info btn-addon">
            <i class='icon-login'></i>
            Xác nhận
          </button>
          <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>