<div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
      <!-- main -->
      <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-sm-12 col-xs-12 staff-avatar">
              <h1 class="m-n font-thin h3 text-black"></h1>
            </div>
          </div>
        </div>
        <div class="wrapper-md">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="col-sm-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black" style="text-align:center">
                  <span style="color: #ff6600;">SƠ ĐỒ</span>
                  <span style="color: #3366ff;">TUYẾN XE BUÝT</span>
                </h1>
                <div class="wrapper">
                  <h4 class="ul-title">Sơ đồ khu A, U</h4>
                  <img src="/assets/img/bus1.jpg" width="1000" height="600">
                  <br>
                  <h4 class="ul-title">Sơ đồ khu công nghệ cao</h4>
                  <img src="/assets/img/bus2.jpg" width="1000" height="600">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / main -->
    </div>
  </div>