<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12 staff-avatar">
            <h1 class="m-n font-thin h3 text-black"></h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="col-sm-12 col-xs-12">
              <h1 class="m-n font-thin h3 text-black" style="text-align:center">
                  <span style="color: #ff6600;">THỦ TỤC</span>
                  <span style="color: #3366ff;">ĐĂNG KÝ LƯU TRÚ</span>
              </h1>
              <div class="wrapper">
                <ul>
                  <li>
                    <span class="contentspan">3 ảnh 3×4 (có thể chụp tại văn phòng KTX)</span>
                  </li>
                  <li>
                    <span class="contentspan">01 bản photo CMND</span>
                  </li>
                  <li>
                    <span class="contentspan">01 bản photo thẻ sinh viên
                      <em>(Trường hợp là tân sinh viên chưa có thẻ sinh viên thì nộp bản photo giấy báo nhập học hoặc phiếu thu
                        học phí)</em>
                    </span>
                  </li>
                  <li>
                    <span class="contentspan">Đến văn phòng điền thông tin vào hồ sơ theo quy định là có thể vào ở ngay</span>
                  </li>
                </ul>
                <div>
                  <p>Mọi thông tin cần giải đáp các bạn có thể gửi thông tin về email 
                    <span style="color: #ff6600;">namtrung18101996@gmail.com</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <li class="list-group-item clearfix">
              <img src="/assets/img/PicThutuc1.jpg" width="320" height="250">
            </li>
            <li class="list-group-item clearfix">
              <img src="/assets/img/PicThutuc2.jpg" width="320" height="250">
            </li>
          </div>

        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
</div>