<div class="app-content-body ">
  <div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col">
      <!-- main header -->
      <div class="bg-light lter b-b wrapper-md">
        <div class="row">
          <div class="col-sm-12 col-xs-12 staff-avatar">
            <h1 class="m-n font-thin h3 text-black"></h1>
          </div>
        </div>
      </div>
      <div class="wrapper-md">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="col-sm-12 col-xs-12">
              <h1 class="m-n font-thin h3 text-black" style="text-align:center">
                <span style="color: #ff6600;">QUY ĐỊNH</span>
                <span style="color: #3366ff;">THỦ TỤC VÀO RA KTX</span>
              </h1>
              <div class="wrapper">
                <img src="/assets/img/Outin.png" width="700" height="1800">
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <a [routerLink]="['/home/stayprice']" class="list-group-item clearfix">
              <img src="/assets/img/BannerThuTucDangKy.jpg" width="320" height="100">
            </a>
            <a [routerLink]="['/home/bus']"  class="list-group-item clearfix">
              <img src="/assets/img/TuyenXeBus.jpg" width="320" height="100">
            </a>
            <a [routerLink]="['/home/listservice']"  class="list-group-item clearfix">
              <img src="/assets/img/BannerPhai.jpg" width="320" height="100">
            </a>
          </div>

        </div>
      </div>
    </div>
    <!-- / main -->
  </div>
</div>